In [3]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://appuser:apppass@127.0.0.1:3307/ads507"
)

pd.read_sql("SELECT 1;", engine)

   1
0  1